body {font-family: 'Kurale', serif;
	margin: 0;
	background-image: linear-gradient(to top right, ghostwhite, lavenderblush, lightcyan, aliceblue, oldlace, seashell, azure, ivory, snow, mintcream, lemonchiffon, honeydew, mistyrose); 
}
.wrap{
margin: 10px 60px 50px 60px;
}
.hea {color: maroon;
	text-align: center;
} 
h2 {color: teal;
} 
.na{
	font-size: 18px;
}
.text {
	line-height: 1.5;
}
.text p{
	text-align: justify;
}
.im{
overflow:hidden;
width: 200px;
height:120px;
float: left; 
padding-right:10px;
vertical-align:text-top;
} 

.im img {
-moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
 }
 
.im img:hover{
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
-ms-transform:scale(1.5);
transform: scale(1.5); /* эффект трансформации для других браузеров */ 
 }
