* { 
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #000000;
}	
.mainblock {
	background: none;
	margin: 250px auto;
	width: 100%;
	height: 600px; 
	position: absolute; 
}
.mylayer1 {
	width: 420px;
	height: 500px;
	float: left;
	margin: -15% 0% 0 10%;
	transform: skew(45deg, 0deg);
}
	 
.mylayer2 {
	width: 300px;
	height: 500px;
	float: left;
	margin: 2% 0% 0% 10%;
	transform: skew(45deg, 0deg);
}
	 
.mylayer3 { 
	width: 240px;
	height: 400px;
	float: left;
	margin: 5% 0% 0% -42%;
	transform: skew(-45deg, 0deg);
}
	 
.mylayer4 { 
	width: 320px;
	height: 280px;
	float: left;
	margin: -22% 0% 0% -10%;
	transform: skew(-45deg, 0deg);
}
/*rgba(229,243,12,0), rgba(243,61,12,0.4), rgba(12,99,243,0)*/
.mylayer1 {
	background: linear-gradient(to bottom, rgba(0,250,154,0), rgba(64,224,208,0.4), rgba(176, 196, 222, 0));
}
	
.mylayer2 {
	background: linear-gradient(to bottom, rgba(30,60,55,0.2), rgba(75,40,125,0.5), rgba(60,20,80,0.6),rgba(0,0,0,0));
}
	 
.mylayer3 { 
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.3), rgba(255,255,255,0.8));
}
	 
.mylayer4 { 
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(35,25,65,0.5), rgba(140,60,130,0.9));
}